.philosophy-container{
          position: relative;
  width: 100%;
  height: 70vh;
  min-height: 400px;
  overflow: visible;

}
.philosophy-page {
  min-height: 50vh;
  background: #ffffff;
  padding: 48px 0;
  margin: 0 25rem;
}

.philosophy-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.feature-cards-section {
  margin-bottom: 64px;
  max-width: 900px;
  /* display: flex; */
  /* gap: 1rem; */
  /* justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 768px) {
 .philosophy-container{
          height: 70vh

}
.philosophy-page {
    padding: 24px 0;
  }
  
  .feature-cards-section {
    margin-bottom: 48px;
  }
}
@media (max-width: 900px) {
 .philosophy-container{
          height: 70vh
}
.philosophy-page {
    margin: 0;
  }
}